<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>To do list</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
        <h1><%= kindofday %></h1>
    </div> 

    <div class="box">
            <% for(var i=0;i<newlistItems.length;i++){ %>
                <div class="item">
                 <input type="checkbox">   
                 <p><%= newlistItems[i] %></p>
                </div>
            <% } %>

            <form class="item" action="/" method="POST">
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                <button type="submit" name="button">+</button>
            </form>
    </div>

</body>
</html>